.bathtub {
  border: 1px solid black;
  border-radius: 5px;
  /* 6.25rem is equal to 100px */
  max-height: 6.25rem;
  width: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
